.error404 {
  padding: rem(20px) rem(10px);
  text-align: center;
}

.error404__text {
  font-size: rem(35px);
  font-family: Amatic SC;
  letter-spacing: rem(3px);
  text-align: center;
  font-weight: 700;
}

.error404__btn {
  display: inline-block;
  margin: rem(10px);
}
