@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}
@mixin shadow {
  box-shadow: 1px 3px 20px -1px rgba(0,0,0,0.36);
}

//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}
